USE [master]
GO
/****** Object:  Database [orderdb]    Script Date: 7/15/2021 10:21:04 PM ******/
CREATE DATABASE [orderdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'orderdb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\orderdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'orderdb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\orderdb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [orderdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [orderdb]
GO
/****** Object:  Table [dbo].[orderTable]    Script Date: 7/15/2021 10:21:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orderTable](
	[Username] [varchar](50) NOT NULL,
	[Package1] [numeric](18, 0) NOT NULL,
	[Package2] [numeric](18, 0) NOT NULL,
	[Package3] [numeric](18, 0) NOT NULL,
	[Total] [varchar](50) NOT NULL,
	[DateTime] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usertable]    Script Date: 7/15/2021 10:21:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usertable](
	[NicNo] [varchar](50) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Telephone] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
